@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  text-decoration: none;
}

body {
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif
}

#header {
  background-image: url(/images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 100vh;
}

nav {
 display: flex;
 justify-content: space-around;
 align-items: flex-start;
 padding-top: 2.5em;
}

nav h2 {
  letter-spacing: 1px;
}


nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.4em;
  padding: 0;
}

nav ul li {
  list-style: none;
  padding-left: 2em;
}

nav ul li a {
  color: #fff;
  font-size: 18px;
}

#contact {
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  background: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  letter-spacing: 1px;
}

#creatives {
  margin-top: 5.5em;
  margin-left: 35%;
}


#creatives h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#arrow {
  margin-top: 4.8em;
  margin-left: 11em;
} 


#transform {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: flex-end;
  background: #fff;
  flex: 50% 50%;
}

#transform-text {
  max-width: 50%;
  height: 80vh;
}

#transform-textcontent {
  margin: 12em 5em;
  margin-bottom: 0;
  padding-right: 1em;
}

#transform-textcontent h1 {
  font-size: 40px;
  font-weight: bold;
  padding-right: 5em;
  
}

#transform-textcontent p {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 1em;
  margin-bottom: 1em;
}

#transform-textcontent a {
  color: #000;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

#transform-textcontent a:hover {
  color: yellow;
}


#transform-image {
  max-width: 50%;
  height: 80vh;
}

#stand-out {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: flex-end;
  background: #fff;
  flex: 50% 50%;
}

#stand-out-text {
  max-width: 50%;
  
}

#stand-out-textcontent {
  margin: 12em 5em;
  margin-bottom: 0;
  padding-right: 1em;
}

#stand-out-textcontent h1 {
  font-size: 40px;
  font-weight: bold;
  padding-right: 3em;
  
}

#stand-out-textcontent p {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 1em;
  margin-bottom: 1em;
}

#stand-out-textcontent a {
  color: #000;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

#stand-out-textcontent a:hover {
  color: pink;
}


#stand-out-image {
  max-width: 50%;
  
}

#design {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: flex-end;
  background: #fff;
  flex: 50% 50%;
}

#stand-out-text {
  max-width: 50%;
}

#stand-out-textcontent {
  margin: 12em 5em;
  margin-bottom: 0;
  padding-right: 1em;
}

#stand-out-textcontent h1 {
  font-size: 40px;
  font-weight: bold;
  padding-right: 3em;
  
}

#stand-out-textcontent p {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 1em;
  margin-bottom: 1em;
}

#stand-out-textcontent a {
  color: #000;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

#stand-out-textcontent a:hover {
  color: pink;
}


#stand-out-image {
  max-width: 50%;
}

#graphic {
  background-image: url('/images/desktop/image-graphic-design.jpg');
}

#photo {
  background-image: url('/images/desktop/image-photography.jpg');
}


